*{
    font-family: sans-serif;
}
body{
    margin:0;
    background: linear-gradient(180deg, #C4C4C4 21.75%, rgba(196, 196, 196, 0.2) 100%);
}
.top-nav{
    background-color:#2F8E0D;
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding:20px;
}
.top-nav .nav-links{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    list-style: none;
}
.top-nav .nav-links li{
    color:#FFF;
    margin: 12px;
    font-size: 20px;
}
main.main-wall{
    display:block;
    margin:0 auto;
    max-width: 900px;
}
main.main-wall h2{
    text-align: center;
}
.main-activity{
    display:grid;
    grid-template-columns: 1fr auto;
    grid-gap:20px;
}
.main-activity .post-wall{
    max-width:320px;
}
.buttons{
    list-style:none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.buttons li{
    background-color: #80B918;
    max-width:500px;
    height:100px;
}
.buttons li a{
    text-decoration:none;
    color:#FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;;
    font-size: 30px;
    line-height:36px;
}
.post-wall{
    background-color:#FFF;
    border-top-left-radius: 50px;
    padding:20px
}
.post-wall .post-card figure{
    border:1px solid black;
    width:280px;
    height: 180px;
    margin:auto;
}